# Steps

In [ ]:
Credit Card Data
Data Pre Processing
Data Analysis 
Train Test Split
Logistic Regression Model
Evaluation

In [2]:
import numpy as np  # for array
import pandas as pd  # for CSV file
from sklearn.model_selection import train_test_split  # fixed typo: trian_test_split to train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score  # fixed typo: acccuracy_score to accuracy_score

In [3]:
# LOad the Dataset to a pandas DataFrame

In [4]:
credit_card_data = pd.read_csv("C:/Users\pc/Downloads/creditcard.csv")

In [6]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [8]:
# Dataset information

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [9]:
# Check the numbre of missig values in each columns
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
# Distribution of legit transection & fraudulent transection
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [11]:
# 0 is for normal transection
# 1 is for Fraud transection

In [ ]:
This data is highly unbalanced

In [12]:
# Sepration the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [16]:
fraud.sample(4)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
163149,115691.0,-1.550273,1.088689,-2.393388,1.008733,-1.087562,-1.104602,-2.670503,0.147655,-0.978626,...,0.802316,1.037105,0.095815,-0.320191,-0.080731,0.091012,0.024928,-0.077820,17.06,1
6529,7891.0,-1.585505,3.261585,-4.137422,2.357096,-1.405043,-1.879437,-3.513687,1.515607,-1.207166,...,0.501543,-0.546869,-0.076584,-0.425550,0.123644,0.321985,0.264028,0.132817,1.00,1
150644,93823.0,-3.821939,5.667247,-9.244963,8.246147,-4.368286,-3.450735,-8.427378,2.305609,-5.338079,...,1.990520,0.083353,-0.062264,0.390188,0.329884,0.098017,1.869570,1.000850,75.86,1
221018,142394.0,-3.367770,0.099249,-6.148487,3.401955,0.458307,-1.571630,-1.358708,0.672409,-3.188001,...,0.861308,1.249301,1.850627,-0.117471,1.219815,0.000251,1.036011,0.004367,320.01,1

In [19]:
legit.shape, fraud.shape

((284315, 31), (492, 31))

In [20]:
# Statistical measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [21]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [22]:
# Compare the vslues for both Transection
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Under-Sampling

In [ ]:
Build a sample dataset containing similiar distribution of normal tracsection and fraudulent trasection

In [ ]:
Number of Fraud Trasection --> 492

In [23]:
legit_sample = legit.sample(n=492)

In [26]:
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5090,4750.0,0.777169,-1.994312,0.589949,-0.830422,-1.933360,-0.456433,-0.773586,-0.238074,-0.549448,...,-0.260507,-0.888328,-0.043090,0.316256,-0.127405,-0.476665,-0.030358,0.083470,356.00,0
138994,82959.0,0.367792,-1.778118,0.675637,0.413932,-1.435336,0.518833,-0.381780,0.294869,1.051505,...,0.070997,-0.475752,-0.236254,0.084071,-0.145197,0.916781,-0.101689,0.066689,400.25,0
70828,54035.0,-2.010678,1.687707,1.456986,2.986080,0.653375,2.181894,-0.535974,-1.043083,-0.518988,...,1.135396,-0.816920,0.575746,-0.775156,-0.179230,0.070005,-0.424038,-0.512930,3.79,0
167602,118787.0,-0.056186,0.995471,-0.604549,-0.760892,1.253614,-0.254902,0.919160,-0.018718,-0.317971,...,-0.299454,-0.735255,0.107850,0.108738,-0.358800,0.110025,0.100998,0.058086,9.99,0
38275,39323.0,-0.268185,0.663804,-0.142915,-1.171492,2.572565,3.354492,0.169213,0.845416,-0.642390,...,0.101491,0.158730,-0.240606,1.044041,-0.066160,0.358750,0.093049,0.127666,2.01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38928,39619.0,1.130177,-0.177947,-1.502341,0.257131,2.273833,3.430440,-0.153222,0.742288,-0.085488,...,-0.036783,-0.290611,-0.257784,1.023419,0.966815,-0.254606,-0.004740,0.021865,88.99,0
179719,124211.0,1.893322,0.307675,0.016388,3.671156,0.028854,0.611582,-0.490184,0.236232,-0.324220,...,-0.228421,-0.727444,0.459337,0.459645,-0.550116,-0.401557,-0.000942,-0.021605,5.29,0
91898,63675.0,1.245674,0.166975,0.488306,0.635322,-0.562777,-1.011073,0.014953,-0.160211,0.170362,...,-0.262581,-0.816264,0.140304,0.357827,0.186423,0.096544,-0.035866,0.018495,8.99,0
256087,157533.0,-0.211175,1.161422,-0.968063,-1.436103,2.150716,-0.950720,2.039342,-0.525186,-1.095714,...,0.297022,0.945332,-0.652605,0.175632,0.727325,0.897680,-0.014969,0.106325,2.00,0
149345,91055.0,2.079134,0.171764,-1.855045,0.645674,0.507200,-1.445819,0.652380,-0.597481,1.712704,...,-0.014072,0.410951,-0.073677,-0.103230,0.515120,-0.099641,-0.080914,-0.080753,15.77,0

In [28]:
# Concatenate two dataframe
# axis 0 for all the fraud values will be added below legit.sample row bise
# axis 1 for will the column bise

new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [30]:
new_dataset.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5090,4750.0,0.777169,-1.994312,0.589949,-0.830422,-1.933360,-0.456433,-0.773586,-0.238074,-0.549448,...,-0.260507,-0.888328,-0.043090,0.316256,-0.127405,-0.476665,-0.030358,0.083470,356.00,0
138994,82959.0,0.367792,-1.778118,0.675637,0.413932,-1.435336,0.518833,-0.381780,0.294869,1.051505,...,0.070997,-0.475752,-0.236254,0.084071,-0.145197,0.916781,-0.101689,0.066689,400.25,0
70828,54035.0,-2.010678,1.687707,1.456986,2.986080,0.653375,2.181894,-0.535974,-1.043083,-0.518988,...,1.135396,-0.816920,0.575746,-0.775156,-0.179230,0.070005,-0.424038,-0.512930,3.79,0
167602,118787.0,-0.056186,0.995471,-0.604549,-0.760892,1.253614,-0.254902,0.919160,-0.018718,-0.317971,...,-0.299454,-0.735255,0.107850,0.108738,-0.358800,0.110025,0.100998,0.058086,9.99,0
38275,39323.0,-0.268185,0.663804,-0.142915,-1.171492,2.572565,3.354492,0.169213,0.845416,-0.642390,...,0.101491,0.158730,-0.240606,1.044041,-0.066160,0.358750,0.093049,0.127666,2.01,0

In [31]:
new_dataset.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [32]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [34]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95490.172764,-0.112112,0.031182,-0.025251,-0.063775,-0.004075,-0.050863,-0.034183,0.010038,0.112908,...,0.007665,0.042004,-0.022616,-0.010034,0.007773,-0.006460,-0.006737,-0.004518,0.001603,88.394797
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
# We can see that the mean value for V1 for Fraulent and Legit trasection is same as before when we campare the total legit and
Fraud and now

# 1st compare the all data and find its mean where fraud data is 492 and legit data 284315
# 2nd comare the data where fraud is 492 and legit is 392
 but the data differnt is same for both condition and the diff is the same between fraud and legit

In [35]:
x=new_dataset.drop(columns = 'Class', axis = 1)
y=new_dataset['Class']

In [36]:
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
5090,4750.0,0.777169,-1.994312,0.589949,-0.830422,-1.933360,-0.456433,-0.773586,-0.238074,-0.549448,...,0.300960,-0.260507,-0.888328,-0.043090,0.316256,-0.127405,-0.476665,-0.030358,0.083470,356.00
138994,82959.0,0.367792,-1.778118,0.675637,0.413932,-1.435336,0.518833,-0.381780,0.294869,1.051505,...,0.633259,0.070997,-0.475752,-0.236254,0.084071,-0.145197,0.916781,-0.101689,0.066689,400.25
70828,54035.0,-2.010678,1.687707,1.456986,2.986080,0.653375,2.181894,-0.535974,-1.043083,-0.518988,...,-0.482116,1.135396,-0.816920,0.575746,-0.775156,-0.179230,0.070005,-0.424038,-0.512930,3.79
167602,118787.0,-0.056186,0.995471,-0.604549,-0.760892,1.253614,-0.254902,0.919160,-0.018718,-0.317971,...,0.063988,-0.299454,-0.735255,0.107850,0.108738,-0.358800,0.110025,0.100998,0.058086,9.99
38275,39323.0,-0.268185,0.663804,-0.142915,-1.171492,2.572565,3.354492,0.169213,0.845416,-0.642390,...,0.071095,0.101491,0.158730,-0.240606,1.044041,-0.066160,0.358750,0.093049,0.127666,2.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [37]:
y

5090      0
138994    0
70828     0
167602    0
38275     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [ ]:
Split thw data into Training and Testing Data

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, stratify = y, random_state = 2)

## Model Training

### Logistic Regression

In [42]:
# Trianig the Logistic Regression Model with Training Data

In [43]:
model = LogisticRegression()

In [44]:
model.fit(x_train,y_train)

LogisticRegression()

### Model Evaluation

#### Accurace Score

In [46]:
# Accuracy on Training Data
x_train_predition = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_predition , y_train)

In [53]:
print('Accuracy on Training Data:' ,training_data_accuracy)

Accuracy on Training Data: 0.9161372299872935

In [54]:
# Accuracy score on Testing data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [56]:
print('Accuracy on Testing Data:' , test_data_accuracy)

Accuracy on Testing Data: 0.9035532994923858

In [ ]:
# Accurcy score of Training data and Testing data is similiar
# If there is lots of diff in Training data and Testing Data than it is called over fitted and under fitted.
# Model is Over fitted if Training accuracy is 92% and the Testing accuracy is 50%